<body class="login-body">
    <section class="profile-nav alt green-border ">
        <section class="wrapper ">
            <div class="profile-nav alt green-border col-lg-10 col-lg-offset-1">
                <section class="panel">
                    <div class="user-heading alt green-bg">

                        <h1>Accounts List</h1>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="account in accounts"><a href="javascript:;"> <i class="icon-time"></i>{{account}} </a></li>

                        <!--<li><a href="javascript:;"> <i class="icon-envelope-alt"></i> Message <span class="label label-success pull-right r-activity">10</span></a></li>-->
                    </ul>
                </section>
            </div>
        </section>
    </section>
</body>