<body class="login-body">
    <div class="container">
        <form class="form-signin" action="index.html">
            <h2 class="form-signin-heading">sign in now</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="User ID" autofocus>
                <input type="password" class="form-control" placeholder="Password">
                <label class="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label><br>
                <button class="btn btn-lg btn-login btn-block" type="submit" ui-sref='app.home'>Sign in</button>
            </div>
        </form>
    </div>
</body>