<body>
    <div ng-show="accounts.length > 0">
        <label>选择需要查询的账户：</label>
        <select ng-init="selectedAccount = accounts[0]" ng-model="selectedAccount" ng-options="account for account in accounts "
            ng-change="getPersonalDataList()">
    </select>
    </div>
    <label>Provide Data List</label>
    <p>You have provided {{provideSum}} data.</p>
    <table>
        <thead>
            <tr>
                <td>Data Name</td>
                <td>Type List</td>
                <td>Requester Number</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in provideDataSet">
                <td>{{data.dataName}}</td>
                <td>
                    <p ng-repeat="type in data.types">
                        {{type.key}} : {{type.value}}
                    </p>
                </td>
                <td>{{data.requestNum}}</td>
            </tr>
        </tbody>
    </table>
    <label>Request Data List</label>
    <p>You have requested {{requestSum}} data.</p>
    <table>
        <thead>
            <tr>
                <td>Data Name</td>
                <td>Provider</td>
                <td>Request Status</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in requestDataSet">
                <td>{{data.dataName}}</td>
                <td>{{data.provider}}</td>
                <td>{{data.status}}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="refresh()">刷新</button>
</body>