<body>
    <div ng-show="accounts.length > 0">
        <label>提供者账户：</label>
        <select ng-init="selectedAccount = accounts[0]" ng-model="selectedAccount" ng-options="account for account in accounts "
            ng-change="getProvideData()">
    </select>
    </div>
    <div>
        <label>数据名称：</label>
        <select ng-model="selectedData" ng-options="data.dataName as data.dataName for data in dataSets " ng-change="getDataRequestList()">
    </select>
    </div>
    <label>Requester List</label>
    <table>
        <thead>
            <tr>
                <td>Requester</td>
                <td>Status</td>
                <td>Confirm</td>
                <td>Reject</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="requester in requesters" render-finish>
                <td>{{requester.address}}</td>
                <td>{{requester.status}}</td>
                <td>
                    <button ng-click="confirmData(selectedData,requester.address)">Confirm</button>
                </td>
                <td>
                    <button ng-click="rejectData(selectedData,requester.address)">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button ng-click="refresh()">刷新</button>
    <hr/>
    <label>Password:</label>
    <input ng-model="password" type="password">

</body>